<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKTX_3.Properties.Settings.cnnStr" connectionString="Data Source=LAPTOP-MB5F72F2\SQLEXPRESS;Initial Catalog=QuanLyKTX_3;Integrated Security=True" />
        <add name="QuanLyKTX.Properties.Settings.cnnStr_admin" connectionString="Data Source=THANHBINH\SQLEXPRESS;Initial Catalog=QuanLyKTX;User ID=Admin;Password=123456789" />
        <add name="QuanLyKTX.Properties.Settings.cnnStr_manage" connectionString="Data Source=THANHBINH\SQLEXPRESS;Initial Catalog=QuanLyKTX;User ID=Manage;Password=0123456789" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>